@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.tabledata .table thead th {
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    text-transform: capitalize;
    padding: .5em;
}

.tabledata .table td {
    padding: .5rem;
    vertical-align: middle;
}

.light {
    font-weight: 300;
}

.featured-slider {
    background: #a9d300;
}
.carousel-item {
  	height: 100%;
  	background-size: cover;
  	background-position: center center;
}
.carousel-caption {
    top: 0px;
    font-weight: 900;
}
.carousel-item h1,
.carousel-item h2,
.carousel-item h3 {
  	margin: 0;
    font-weight: 700;
}
.carousel-caption a {
    color: #fff;
    text-decoration: none;
    text-shadow: #212529 0px 0px 2px,   #212529 0px 0px 2px,   #212529 0px 0px 2px,
             #212529 0px 0px 2px,   #212529 0px 0px 2px,   #212529 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}
.carousel-control-prev{
    left: 0px;
}
.carousel-control-next{
    right: 0px;
}

@media screen and (max-width: 540px) {
    .sw-theme-arrows > ul.step-anchor {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .sw-theme-arrows > ul.step-anchor > li {
        width: 14.25% !important;
    }
    .sw-theme-arrows > ul.step-anchor > li > a,
    .sw-theme-arrows > ul.step-anchor > li > a:hover {
        line-height: 1 !important;
        padding-left: 2px !important;
        margin-bottom: 0px !important;
        text-align: center !important;
    }
    .sw-theme-arrows > ul.step-anchor > li:first-child > a {
        padding-left: 0px !important;
    }
    footer {
        height: auto !important;
    }
    .yayasan {
        font-size: small;
    }
    table.tabelkontak {
        margin-bottom: 14em !important;
    }
/*    .carousel-caption {
        right: 20px;
        left: 20px;
        background: rgba(255,255,255,.9);
        border-radius: 15px;
    }
*/
    .carousel-caption h2 {
        font-size: 1.5em;
    }
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    margin-left: -2.5em;
}
.detailwidget {
    padding: 2em 0;
}
table.tabelkontak {
    margin-bottom: 11em;
}
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-weight: 300;
  background-color: #05520e;
}
.footer a {
	color: #fff;
	text-decoration: none;
	font-weight: 300;
}
.footer a:hover {
	color: #fff300;
}
.bg-ursuline {
    background-color: #05520e;
}
.bg-regina {
    background-color: #009d41;
}
.top-bar {
    height: 40px;
    line-height: 40px;
}
.navbar-toggler {
    border: none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-dark:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,224,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff300;
}
.dropdown-menu {
    background-color: #009D41;
    border: 1px solid rgba(5,82,14,.25);
    border-radius: .25rem;
}
.dropdown-divider {
    border-top: 1px solid rgba(5,82,14,.25);
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff300;
    background-color: transparent;
}
.jumbotron {
    background-color: #a9d300;
    border-radius: 0px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-control:focus,
.custom-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #55c74e;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn-ursuline {
    color: #fff;
    background-color: #55c74e;
    border-color: #55c74e;
}
.btn-ursuline:hover {
    color: #fff;
    background-color: #05520e;
    border-color: #05520e;
}
.container.daftar {
    max-width: 818px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Telusuri";
}
.tabs {
    max-width: 667px;
    margin: 0 auto;
    padding: 0px;
}
#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tab-button li {
    display: table-cell;
    width: 20%;
}
#tab-button li a {
    display: block;
    padding: .5em;
    background: #a9d300;
    border: 1px solid #a9d300;
    text-align: center;
    color: #000;
    text-decoration: none;
}
#tab-button li:not(:first-child) a {
    border-left: none;
}
#tab-button li a:hover {
    background: #fff;
}
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
}
.tab-contents {
    padding: 1em;
    border: 1px solid #a9d300;
    margin-top: 0px;
    border-top: none;
}
@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }
    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
        padding: 1em 2em 1em;
    }
}
@media screen and (max-width: 768px) {
    h3 {
        font-size: 1.35em;
    }
}





/* SmartWizard Theme: Arrows */
.sw-theme-arrows {
    /*border-radius: 5px;*/
    /*border: 1px solid #ddd;*/
}

.sw-theme-arrows > .sw-container {
    min-height: 200px;
}

.sw-theme-arrows .step-content {
    padding: 0 10px;
    border: 0px solid #D4D4D4;
    background-color: #FFF;
    text-align: left;
}

.sw-theme-arrows .sw-toolbar {
    padding: 10px;
    margin-bottom: 0 !important;
}

.sw-theme-arrows > .sw-toolbar-top {
}

.sw-theme-arrows > .sw-toolbar-bottom {
}

.sw-theme-arrows > ul.step-anchor {
    border: 0;
    /*border-bottom: 1px solid #ddd;*/
    padding: 0px;
    /*background: #f5f5f5;*/
    /*border-radius: 0;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    list-style: none;
    overflow: hidden;
}

.sw-theme-arrows > ul.step-anchor li+li:before {
    padding: 0;
}

.sw-theme-arrows > ul.step-anchor > li {
    width:13.4%;
}

.sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #bbb;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    border: 0 !important;
    border-radius: 0;
    outline-style: none;
    background: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 99%;
    z-index: 2;
}

.sw-theme-arrows > ul.step-anchor > li > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.sw-theme-arrows > ul.step-anchor > li:first-child > a {
    padding-left: 15px;
}

.sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #bbb;
    text-decoration: none;
    outline-style: none;
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a:hover:after {
    border-left-color: #f5f5f5;
}

.sw-theme-arrows > ul.step-anchor > li > a small {
}

.sw-theme-arrows > ul.step-anchor > li.clickable > a:hover {
    color: #4285F4 !important;
    background: #46b8da !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a {
    border-color: #5cb85c !important;
    color: #fff !important;
    background: #5cb85c !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a:after {
    border-left: 30px solid #5cb85c !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #b1dfbb !important;
 /*  #5cb85c */
    color: #fff !important;
    background: #b1dfbb !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after {
    border-left: 30px solid #b1dfbb;
 /* c3e6cb */;
}

.sw-theme-arrows > ul.step-anchor > li.danger > a {
    border-color: #d9534f !important;
    color: #fff !important;
    background: #d9534f !important;
}

.sw-theme-arrows > ul.step-anchor > li.danger > a:after {
    border-left: 30px solid #d9534f !important;
}

.sw-theme-arrows > ul.step-anchor > li.disabled > a, .sw-theme-arrows > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .sw-theme-arrows > ul.step-anchor {
        border: 0;
        background: #ddd !important;
    }

    .sw-theme-arrows > .nav-tabs > li {
        float: none !important;
        margin-bottom: 0;
        width:100%;
    }

    .sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
        padding-left: 15px;
        margin-right: 0;
        margin-bottom: 1px;
    }

    .sw-theme-arrows > ul.step-anchor > li > a:after, .sw-theme-arrows > ul.step-anchor > li > a:before {
        display: none;
    }
}

/* Loader Custom Style */
.sw-theme-arrows::before {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #5cb85c;
}

/*tab jquery style*/
.ui-widget-content a {
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size: 0.8em;
}
.ui-widget-content a:hover {
    background: #999;
    color: #FFF;
    text-decoration: none;
}
a.active {
    background: #999;
    color: #FFF;
}
.ui-widget-content{
    border: 1px solid #aaaaaa;
    
}
.modal-body{
    overflow: auto;
}
.modal-header{
    display: inline-block !important;
}