/* 
    Document   : dolphin
    Created on : 21 Mar 11, 22:55:53
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html,body{
    margin:0;
    padding:0;
    /*	background: #CCCCFF;
    background-color: #666666; */


    background-color: #dddddd;


    /*background:#9ad4ff url(images/background.jpg) repeat-x top;*/
}

img {
    border: 0;
}
a{ display:block;color: #981793;
   padding:10px}

#container {

    margin: auto;
    width: 98%;
    position: relative;

    /*background-image: url(img/bgkiri.png);*/
    background: #cccccc;
}

#header{
    position: relative;
    float: left;
    height: 90px;
    width: 100%;
    background-color: #222222;
    /*	background:url(images/header_03.gif) top no-repeat;
        -background:#000000;*/
}

#logo{
    position: relative;
    float: left;

    left: 10px;
    width: 100%;
    height: 90px;

    font-weight: bold;
}
#captionlogo{
    position: relative;
    float: left;
    width: 80%px;
    left: 30px;
    top:10px;
    font-size: 40px;
    color: white;

}
#menu{
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    background: gray;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 10px;
    -moz-border-radius: 5x;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#logo img{
    border: none;
}


#content{
    position: relative;
    float: left;
    width: 99%;
    -background-color: #eee;
    padding-left: 15px;

}
#menukiri{
    position: relative;
    float: left;
    width: 20%;
    -background-color: #eee;
}
.kategori{
    position: relative;
    float: left;
    width: 90%;
    height: 20px;
    color: #333333;
    /*    font-weight: bold;*/
    padding: 5px;
    background-color: #bbbbbb;
    -moz-border-radius: 5x;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.kategori a{
    padding: 0px;
    text-decoration: none;
    color: white;
}

.childkategori{
    position: relative;
    float: left;
    width: 100%;

    /*    left: -30px;*/

    font-size:10px;
    font-weight: bold;
    border-top: 1px dotted #bbbbbb;

}

.childkategori a{
    padding: 5px;
    text-decoration: none;
    color: #333333;

}

.childkategori a:hover{
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #888888;
}




#namapegawai{
    text-align: right;
    position: relative;
    float: left;
    width: 30%;
    margin-left: 50px;
    top: 40px;
    color: white;
}
#namapeg{
    position: relative;
    float: left;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
}

#jabatan{
    position: relative;
    float: left;
    width: 90%;
    font-size: 12px;
    font-weight: bold;
}
#footer{
    position: relative;
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 10px;
    background-color: #000000;

}

#tampilbahan{
    position:relative;
    float: left;
    width: 100%;
}

#tampilprodukbahan{
    position:relative;
    float: left;
    width: 60%;

}

#bahan{
    position:fixed;
    float: left;
    top:20%;
    left: 61%;
    width: 35%;
    height: 50%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    border: #333333 1px solid;
    background-color: #dddddd;

}

#judulbahan{
    padding-top: 5px;
    text-align: center;
    width: 100%;
    background-color: #888888;
    height: 20px;
    font-weight: bold;
}

#imglogo{
    position:relative;
    float: left;
    width: 90px;
    height: 90px;
}

.keteranganheader{
    position:relative;
    padding-left: 10px;
    float: left;
    width: 100%;
    color: #555555;
    font-size: 14px;
}
#areaupload{
    position: relative;
    float: left;
    width:600px;
}



#photoarea{
    position: relative;
    float: left;
    top: 10px;
    left: 0px;
    width:350px;
    height: 200px;
    /*  background: blue;*/
    border: #cccccc 2px solid;
    -moz-border-radius: 10x;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

}
.gbrupload{
    position: relative;
    float: left;

}

#tempatgambar{
    /*  position: relative;
      float: left;*/
    top: 10px;
    left: 10px;
    /*  width:490px;*/
    height: 200px;
    /*  background: blue;*/
    border: #cccccc 2px solid;
    -moz-border-radius: 10x;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#capca{
    left: 100px;
    padding-left: 250px;
}