
p, h1, form, button{border:0; margin:0; padding:0; font-size: 12px;}

.spacer{clear:both; height:1px;}



#myform{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
    /*margin: 0 auto; */
    margin: auto;
    -moz-border-radius: 15x;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    width: 400px;
    height: 200px;
    top :-10px;
}


#myLogin input,select,textarea,options{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    /*width:200px;*/
    margin:2px 0 5px 5px;
    -moz-border-radius: 5x;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
 #myLogin label{
    float: left;
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;

}
#myLogin button{
    clear:both;

/*    margin-left:25%;*/
    width:200px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    cursor: pointer;
    -moz-border-radius: 5x;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top:10%;
    
}

#myLogin h3{
    padding-top:   10px;
    padding-left:    10px;
/*    text-align: center;*/
    font-size:16px;
    width: 100%;
    margin-top: 20px;
    margin-bottom:  0px;

}
#myLogin h1 {
    width: 100%;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    margin-top:8px;
    margin-bottom:  30px;
}
/* ----------- stylized ----------- */
#stylized{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
    /*margin: 0 auto; */
    margin: auto;
    -moz-border-radius: 15x;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    width: 90%;
}

#stylized .nospacer{
    float :left;
    display: block;
    height:30px;
    background-color: gray;

}
.myform2{
    /*margin:0 auto; */
    /* IE position: fixed; */

    position: relative;
    width:250px;
    padding:0px;
    z-index: 4;
    background-color: gray;

}


#stylized h1 {
    -font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#stylized .garis{
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#myLogin .garis{
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized p{
    float: left;
    font-size:12px;
    color:#666666;
    margin-bottom:0px;
    margin-top: 0px;
    /*margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
    */
}
#stylized label{
    float: left;
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;

}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

#stylized input,select,textarea,options{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    /*width:200px;*/
    margin:2px 0 5px 5px;
    -moz-border-radius: 5x;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#chkmenu{
    position: relative;
    left: 200px;
}

#chkmenu input{
    /*padding:0px;
    margin: 0px;*/

    color: blue;
    float: none;
}

#stylized .chk{
    padding:0px;
    margin: 0px;
    color: green;
}

#stylized button{
    clear:both;
    margin-left:10px;
    width:200px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    cursor: pointer;
    -moz-border-radius: 5x;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#stylized submit{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}
