/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2014, 5:23:43 PM
    Author     : jhonpc
*/

#progressbarrarea{
 position: absolute;
 left: 400px;
 top: 100px;
 border: 2px #0000ff solid;
 width: 400px;
 height: 80px;
 padding: 5px;
}

#gbloader{
   position: absolute;
 left: 400px;
 top: 100px;
 border: 2px #0000ff solid;
 width: 200px;
 height: 50px;  
 padding: 5px;
}

#lbrecord{
 position: relative;
 float: left;
 width: 100%;   
}

